:root {
    --cor-fundo: #f5f7fa;
    --cor-barra-lateral: #ddffd0;
    --cor-barra-lateral-escura: #3e8e41;
    --cor-botao-ativo: #66bb6a;
    --cor-texto: #424242;
    --cor-branca: #ffffff;
    --cor-icone: #363232; /* Cor padrão dos ícones */
    --cor-icone-ativo: #ffffff; /* Cor dos ícones ativos */
    --border-radius-padrao: 2.5vh; /* Border radius padrão */
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--cor-fundo);
    margin: 0;
    padding: 0;
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    width: 90%;
}

li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5vh;
    margin: 0.5vh 0;
    color: var(--cor-icone);
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: var(--border-radius-padrao);
}

li a i {
    margin-right: 1vh;
    width: 2vh;
    height: 2vh;
    transition: fill 0.3s;
}

li a:hover, li a.ativo {
    background-color: var(--cor-botao-ativo);
    color: var(--cor-icone-ativo);
}

li a:hover i, li a.ativo i {
    fill: var(--cor-icone-ativo); /* Cor dos ícones quando ativos ou em hover */
}

main {
    margin-left: 250px;
    padding: 2vh;
    width: calc(100% - 250px);
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

header.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
}

.container-filtro {
    display: flex;
    align-items: center;
    background-color: var(--cor-branca);
    border: 1px solid #ccc;
    border-radius: var(--border-radius-padrao);
    padding: 1vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    gap: 1vh;
}

.dropdown {
    position: relative;
    flex: 4;
}

.toggle-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    padding: 1vh 2vh;
    border-radius: var(--border-radius-padrao);
    cursor: pointer;
}

.toggle-dropdown i {
    width: 2vh;
    height: 2vh;
    transition: fill 0.3s;
}

.dropdown-bar {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 1vh;
    border-radius: var(--border-radius-padrao);
    overflow-x: auto;
    white-space: nowrap;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #ff69b4;
    display: none;
    flex-wrap: wrap;
    gap: 1vh;
    padding: 1vh;
    border-radius: 0 0 var(--border-radius-padrao) var(--border-radius-padrao);
    list-style: none;
    z-index: 5;
}

.dropdown-menu.active {
    display: flex;
}

.dropdown-item {
    background: #a8ff94;
    padding: 1vh 2vh;
    border-radius: 1.5vh;
    cursor: pointer;
}

.filter-btn {
    flex: 1;
    background: #00b894;
    border: none;
    padding: 1vh;
    color: white;
    border-radius: var(--border-radius-padrao);
    cursor: pointer;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    main {
        margin-left: 0;
        width: 100%;
    }

}
